<form [formGroup]="form">

    <mat-form-field class="mvd-col1-3" appearance="outline">
        <mat-label>Título del Curso</mat-label>
        <input formControlName="title" matInput placeholder="Titulo descriptivo" autocomplete="off">
        <mat-error *ngIf="form.controls['title'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <div class="mvd-col3-5 content-instructor">
        <div *ngIf="nameInstructor" class="instructorEdit">
            <img [src]="productEdit.user_instructor.account.image">
            {{ nameInstructor }}
            <button mat-stroked-button color="primary" (click)="editInstructor()">cambiar</button>
        </div>
        <mat-form-field *ngIf="!nameInstructor" class="animate__animated animate__slideInRight"
            [ngClass]="imgInstructor ? 'select-avatar': ''" appearance="outline">
            <mat-label>Docente</mat-label>
            <img *ngIf="imgInstructor" [src]="imgInstructor">
            <mat-select formControlName="user_instructor" (selectionChange)="selectInstructor($event)" selected="">
                <mat-option *ngFor="let instructor of instructors|async" class="option-select-avatar"
                    [value]="instructor">
                    <img [src]="instructor.account.image">
                    {{ instructor.name }} {{ instructor.last_name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['user_instructor'].errors?.required">{{getErrorMessage('required')}}</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field class="mvd-col5--1" appearance="outline">
        <mat-label>Fecha de Inicio</mat-label>
        <input
            matInput
            formControlName="date_ini"
            [matDatepicker]="picker"
            autocomplete="off"
            (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
        <mat-error *ngIf="form.controls['date_ini'].errors?.required">{{getErrorMessage('required')}}</mat-error>
        <mat-error *ngIf="form.controls['date_ini'].errors?.date">{{getErrorMessage('date')}}</mat-error>
    </mat-form-field>


    <mat-form-field class="mvd-col1-3" appearance="outline">
        <mat-label>Categorias</mat-label>
        <mat-select formControlName="categories" multiple >

            <mat-select-trigger >
                <mat-chip-list>
                    <mat-chip *ngFor="let category of form.get('categories').value; let i=index" [removable]="true"
                        (removed)="onCategoryRemoved(i)">
                        {{ category.name }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-select-trigger>

            <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>

        </mat-select>
        <mat-error *ngIf="form.controls['categories'].errors?.required">{{getErrorMessage('required')}}</mat-error>

    </mat-form-field>


    <mat-form-field class="" appearance="outline">
        <mat-label>Cupos</mat-label>
        <input formControlName="cupos" type="number" matInput placeholder="Cupos" autocomplete="off">
        <mat-error *ngIf="form.controls['cupos'].errors?.required">{{getErrorMessage('required')}}</mat-error>
        <mat-error *ngIf="form.controls['cupos'].errors?.number">{{getErrorMessage('number')}}</mat-error>
    </mat-form-field>

    <div class="field-doble">
        <mat-form-field appearance="outline">
            <mat-label>Unidad de Tiempo</mat-label>
            <mat-select formControlName="length_unit_id">
                <mat-option *ngFor="let lengthUnit of lengthUnits | async" [value]="lengthUnit.id">{{ lengthUnit.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['length_unit_id'].errors?.required">{{getErrorMessage('required')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="" appearance="outline">
            <mat-label>Duración</mat-label>
            <input formControlName="length" type="number" matInput placeholder="Duracion" autocomplete="off">
            <mat-error *ngIf="form.controls['length'].errors?.required">{{getErrorMessage('required')}}</mat-error>
            <mat-error *ngIf="form.controls['length'].errors?.number">{{getErrorMessage('number')}}</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field class="" appearance="outline">
        <mat-label>Carga Horaria</mat-label>
        <input formControlName="effort" type="text" matInput placeholder="Horas por semana" autocomplete="off">
        <mat-error *ngIf="form.controls['effort'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nivel del Curso</mat-label>
        <mat-select formControlName="level_id">
            <mat-option *ngFor="let level of levels|async" [value]="level.id">{{ level.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['level_id'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Certificado al finalizar</mat-label>
        <mat-select formControlName="certificate">
            <mat-option value="Si">SI</mat-option>
            <mat-option value="No">NO</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['certificate'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline">
        <mat-label>Nombre del Certificado</mat-label>
        <input formControlName="title_certificate" type="text" matInput placeholder="Nombre del Certificado"
            autocomplete="off">
        <mat-error *ngIf="form.controls['title_certificate'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>Cantidad Cupos Manual</mat-label>
      <input formControlName="cupos_manual" type="text" matInput placeholder="Cantidad Cupos Manual"
            autocomplete="off">
      <mat-error *ngIf="form.controls['cupos_manual'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cantidad Clases Manual</mat-label>
      <input formControlName="clases_manual" type="text" matInput placeholder="Cantidad Clases Manual"
      autocomplete="off">
      <mat-error *ngIf="form.controls['clases_manual'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <div class="field-doble">
      <mat-form-field appearance="outline">
        <mat-label>Duración Manual</mat-label>
        <input formControlName="duracion_manual" type="text" matInput placeholder="Duración Manual"
        autocomplete="off">
        <mat-error *ngIf="form.controls['duracion_manual'].errors?.required">{{getErrorMessage('required')}}</mat-error>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-select formControlName="uni_duracion_manual">
          <mat-option value="">Ninguna</mat-option>
          <mat-option value="Jornada">Jornada</mat-option>
          <mat-option value="Jornadas">Jornadas</mat-option>
          <mat-option value="Mes">Mes</mat-option>
          <mat-option value="Meses">Meses</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="field-doble mvd-col1-2">
        <mat-form-field appearance="outline">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="currency_id">
                <mat-option *ngFor="let currency of currencies | async" [value]="currency.id">{{ currency.symbol }}
                </mat-option>
            </mat-select>
        <mat-error *ngIf="form.controls['currency_id'].errors?.required">{{getErrorMessage('required')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="" appearance="outline">
            <mat-label>Precio</mat-label>
            <input formControlName="price" type="number" matInput placeholder="Precio" autocomplete="off">
            <mat-error *ngIf="form.controls['price'].errors?.required">{{getErrorMessage('required')}}</mat-error>
        </mat-form-field>
    </div>
    <mat-form-field class="" appearance="outline">
      <mat-label>Descuento</mat-label>
      <input formControlName="discount_uno" type="number" matInput placeholder="Descuento"
          autocomplete="off">
      <span matSuffix>%</span>
      <mat-error *ngIf="form.controls['discount_uno'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mvd-col3--1">
      <mat-label>Link subscripción Mercado Pago</mat-label>
      <input formControlName="link_subs_mp" type="text" matInput placeholder="https://www.mercadopago.com.uy/subscriptions/checkout..."
      autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status_id">
            <mat-option *ngFor="let status of statuses|async" [value]="status.id">{{ status.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['status_id'].errors?.required">{{getErrorMessage('required')}}</mat-error>
    </mat-form-field>

    <div class="mvd-col1--1">
      <h3>Requisitos</h3>
        <quill-editor theme="snow"
        placeholder="Requisitos"
        [modules]="configEditor.modules"
        style="min-height: 150px"
        formControlName="requirements"
        >
      </quill-editor>
      <mat-error *ngIf="form.controls['requirements'].errors?.required">{{getErrorMessage('required')}}</mat-error>

    </div>

    <div class="mvd-col1--1">
      <h3>Descripción</h3>
        <quill-editor theme="snow"
        placeholder="Descripción"
        [modules]="configEditor.modules"
        style="min-height: 150px"
        formControlName="description"
        >
      </quill-editor>
      <mat-error *ngIf="form.controls['description'].errors?.required">{{getErrorMessage('required')}}</mat-error>

    </div>

    <span>
        <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">Sigiente</button>
    </span>
</form>
