<mat-nav-list class="items-menu-principal">
    <!-- <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cursos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/productos']" routerLinkActive="router-link-active" >Cursos Activos</a>
        </mat-expansion-panel>
    </mat-accordion>  -->
    <a *ngIf="admin" mat-list-item [routerLink]="['/inscripciones']" routerLinkActive="router-link-active" >Inscripciones</a>
    <a *ngIf="admin || instructor" mat-list-item [routerLink]="['/productos']" routerLinkActive="router-link-active" >Cursos</a>
    <a *ngIf="admin" mat-list-item [routerLink]="['/categorias']" routerLinkActive="router-link-active" >Categorias</a>
    <a *ngIf="admin" mat-list-item [routerLink]="['/docentes']" routerLinkActive="router-link-active" >Docentes</a>
    <a *ngIf="admin" mat-list-item [routerLink]="['/alumnos']" routerLinkActive="router-link-active" >Alumnos</a>
    <a *ngIf="admin" mat-list-item [routerLink]="['/pagos']" routerLinkActive="router-link-active" >Pagos</a>
    <mat-accordion *ngIf="admin">
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Configurtación
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/usuarios']" routerLinkActive="router-link-active" >Usuarios</a>
            <a mat-list-item [routerLink]="['/carousels']" routerLinkActive="router-link-active" >Banners</a>
            <a mat-list-item [routerLink]="['/departamentos']" routerLinkActive="router-link-active" >Departamentos</a>
            <a mat-list-item [routerLink]="['/ciudades']" routerLinkActive="router-link-active" >Ciudades</a>
            <a mat-list-item [routerLink]="['/barrios']" routerLinkActive="router-link-active" >Barrios</a>
        </mat-expansion-panel>
    </mat-accordion>
   <!-- <a mat-list-item [routerLink]="['/provincias']" routerLinkActive="router-link-active">Provincias</a>
    <a mat-list-item [routerLink]="['/ciudades']" routerLinkActive="router-link-active">Ciudades</a>
    <a mat-list-item [routerLink]="['/municipalidades']" routerLinkActive="router-link-active">Municipalidades</a>
    <a mat-list-item [routerLink]="['/barrios']" routerLinkActive="router-link-active">Barrios</a> -->
</mat-nav-list>
