<ng-container *ngIf="dataSource; else loading">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.col">
      <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>

      <ng-container>
        <ng-container
          *ngIf="column['col'] !== 'color' && column['col'] !== 'image' && column['col'] !== 'images' && column['col'] !== 'toggle'"
        >
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{ disabled: element.status_id === 2 }"
          >
          <div [innerHtml]="element[column.col] | dynamicPipe: column.pipe" [class]="column.class"></div>

          </td>
        </ng-container>

        <ng-container *ngIf="column['col'] === 'image'">
          <td mat-cell *matCellDef="let element">
            <img
              class="image-preview"
              [src]="element[column.col]"
              imgPersonError
              [alt]="element[column.col]"
            />
          </td>
        </ng-container>

        <ng-container *ngIf="column['col'] === 'images'">
          <td mat-cell *matCellDef="let element">
            <span *ngFor="let item of element[column.col]">

              <img
                class="image-preview-cuad"
                [src]="
                  item.url_small || '../../../../assets/images/no-image.svg'
                "
                [alt]="item.url_small"
              />

            </span>
          </td>
        </ng-container>

        <ng-container *ngIf="column['col'] === 'color'">
          <td mat-cell *matCellDef="let element; let i = index">
            <span
              class="color-preview"
              [ngStyle]="{ 'background-color': element[column.col] }"
              ><mat-icon class="material-icons-round">{{
                icon(i)
              }}</mat-icon></span
            >
          </td>
        </ng-container>

        <ng-container *ngIf="column['col'] === 'toggle'">
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-slide-toggle color="primary" [checked]="element[column.col] ? true : false" (change)="toggleChange(element)" ></mat-slide-toggle>
          </td>
        </ng-container>

      </ng-container>
    </ng-container>

    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="isPageProduct()"
          mat-button
          class="buttons-actions"
          (click)="addEnroll(element)"
          matTooltip="Nueva inscripción"
          matTooltipClass="tips"
        >
          <mat-icon>person_add</mat-icon>
        </button>

        <button
          *ngIf="isPageProduct()"
          mat-button
          class="buttons-actions"
          (click)="cloneItem(element)"
          matTooltip="Nuevo Inicio"
          matTooltipClass="tips"
          matTooltipPosition="after"
        >
          <mat-icon>queue</mat-icon>
        </button>

        <button
          mat-button
          class="buttons-actions"
          *ngIf="btn_edit"
          (click)="editItem(element)"
          matTooltip="Editar"
          matTooltipClass="tips"
          matTooltipPosition="after"
        >
          <mat-icon>menu_open</mat-icon>
        </button>

        <button
          mat-button
          *ngIf="!isPaymentEnroll() && btn_delete"
          class="buttons-actions"
          (click)="deleteItem(element, 'Será eliminado')"
          matTooltip="Eliminar"
          matTooltipClass="tips"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

<ng-template #loading>
  <div class="div-content">
    <div class="loading">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
