.mat-card{
    box-shadow: none!important;
    margin-top: 0px!important;
    overflow-y: auto!important;
    height: 100%!important;
    padding-bottom: 60px!important;
}

.list-icons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 0.5rem;
    margin-top: 1rem;
    .content-icon{
        .btn-icono{
            padding: 1rem!important;
            align-items: center;
            justify-content: center;
            justify-items: center;
            .mat-icon{
                font-size: 35px!important;
                height: 35px!important;
                width: 35px!important;
            }
        }
    }
}