<form [formGroup]="form">
    <ng-container *ngFor="let field of fields">

        <ng-container *ngIf="field.type === 'text' || field.type === 'time' || field.type === 'password'">

            <mat-form-field [class]="field.class" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input [formControlName]="field.nameControl" matInput [placeholder]="field.label" [type]="field.type" autocomplete="off\\" value="">
                    <mat-error *ngIf="form.controls[field.nameControl].errors?.notIncludedIn">{{getErrorMessage('notIncludedIn')}}</mat-error>
                    <mat-error *ngIf="form.controls[field.nameControl].errors?.email">{{getErrorMessage('email')}}</mat-error>
                    <mat-error *ngIf="form.controls[field.nameControl].errors?.required">{{getErrorMessage('required')}}</mat-error>
                    <mat-error *ngIf="form.controls[field.nameControl].errors?.date">{{getErrorMessage('date')}}</mat-error>
                    <mat-error *ngIf="form.controls[field.nameControl].errors?.number">{{getErrorMessage('number')}}</mat-error>

                </mat-form-field>

        </ng-container>

        <ng-container *ngIf="field.type === 'select'">
            <mat-form-field [class]="field.class" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [placeholder]="field.label" [formControlName]="field.nameControl">
                    <mat-option *ngFor="let opt of field.options" [value]="opt.value">
                        {{opt.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>


        <ng-container *ngIf="field.type === 'date'">

            <mat-form-field class="" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input [formControlName]="field.nameControl" matInput [placeholder]="field.label"
                    [matDatepicker]="picker" autocomplete="off" (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
                <mat-error *ngIf="form.controls[field.nameControl].errors?.date">{{getErrorMessage('date')}}</mat-error>

            </mat-form-field>

        </ng-container>

        <!-- <ng-container *ngIf="field.type === 'textarea'">

            <mat-form-field class="mvd-col1--1" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <textarea style="min-height: 100px" [formControlName]="field.nameControl" matInput
                    [placeholder]="field.label"></textarea>
            </mat-form-field>

        </ng-container> -->

        <ng-container *ngIf="field.type === 'number'">

            <mat-form-field class="" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input type="number" [formControlName]="field.nameControl" matInput [placeholder]="field.label"
                    autocomplete="off">
                <mat-error *ngIf="form.controls[field.nameControl].errors?.number">{{getErrorMessage('number')}}</mat-error>

            </mat-form-field>

        </ng-container>

        <ng-container *ngIf="field.type === 'color'">
            <div class="content-color">
                <mat-form-field class="" appearance="outline">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput [(colorPicker)]="colorPreview" (colorPickerChange)="chanhgeColor()"
                        [formControlName]="field.nameControl" [placeholder]="field.label" autocomplete="off\\">
                </mat-form-field>
                <mat-icon [(colorPicker)]="colorPreview" (colorPickerChange)="chanhgeColor()"
                    [ngStyle]="{'color': colorPreview}" class="material-icons-round">web</mat-icon>

            </div>
        </ng-container>


        <ng-container *ngIf="field.type === 'select_ico'">
            <div class="content-select-ico">
                <button mat-flat-button class="btn-select-ico" [ngStyle]="{'background-color': colorPreview}"
                    color="primary" (click)="selectIco()">
                    <mat-icon class="material-icons-round">{{ field.value }}</mat-icon>
                    Seleccionar Icono
                </button>
            </div>
        </ng-container>

        <ng-container *ngIf="field.type === 'textarea'">
            <quill-editor theme="snow"
                [placeholder]="field.label"
                [modules]="configEditor.modules"
                style="min-height: 100px"
                [formControlName]="field.nameControl"
                class="mvd-col1--1">
            </quill-editor>
        </ng-container>





        <ng-container *ngIf="field.type === 'image'">
            <div class="content-image">
                <div class="upload">
                    <label for="file">
                        <div class="image-input">
                            <img [src]="imgPreview" *ngIf="imgPreview" alt="Subir Imagen">
                            <img [src]="'../../../assets/images/no-image.svg'" *ngIf="!imgPreview" alt="Subir Imagen">
                        </div>
                    </label>
                    <input id="file" hidden type="file" (change)="uploadImage($event)">
                    <span style="color:red;" *ngIf="messageUpload">{{messageUpload}}</span>
                </div>
            </div>
        </ng-container>


    </ng-container>

    <ng-container *ngIf="locationFieldsData">
        <mvd-form-locations class="mvd-col1--1" [data]="locationFieldsData" (changeForm)="setFormLocation($event)">
        </mvd-form-locations>
    </ng-container>

    <div class="btn-actions">
        <span></span>
        <span></span>
        <!-- <button mat-flat-button class="btn-secondary">Guardar y Crear Nuevo</button> -->
        <button mat-flat-button class="" type="submit" [disabled]="!form.valid"
            (click)="changeForm(form.value)" color="primary">Guardar</button>

    </div>

</form>
